/* Home.module.css */
.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero {
  display: grid;
  grid-template-columns: 2.05fr 3.37fr 2.56fr;
  grid-auto-rows: 364px 276px;
  gap: 17px;
}

.heroBox {
  border-radius: var(--border-radius-s);
}


.heroHeart {
  background-image: url('@assets/heroh.png');
  background-size: cover;
  border-radius: 20px;
  position: relative;
  grid-column: 1 / 3;
  padding: 35px;
}

.heroHeart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-gray-background);
  border-radius: 20px;
  clip-path: polygon(
    0 0, 
    100% 0, 
    100% calc(100% - 80px), 
    calc(100% - 335px) calc(100% - 80px),
    calc(100% - 335px) 100%,
    0 100%
  );
  z-index: -1;
}

.heroWork {
  background-image: url('@assets/herowork.png');
  background-size: cover;
  grid-row: 1 / 3;
  grid-column: 3;
  position: relative;
  overflow: hidden; /* важно для псевдоэлемента */
}

.heroWork::after {
  content: 'Мы покажем все предложения транспортных компаний';
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  max-width: 500px;
  z-index: 2;
  line-height: 45px;
}

.heroWork::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* начальное состояние - прозрачно */
  transition: background 0.4s ease;
  border-radius: var(--border-radius-s);
}

.heroWork:hover::before {
  background: rgba(0, 0, 0, 0.6); /* затемнение при наведении */
}

.heroPills {
  background-image: url('@assets/heropills.png');
  background-size: cover;
  background-position: center;
}

.heroNuances{
  background-color: var(--color-blue-elements);
  padding: 35px;
}


.h1 {
  color: #fff;
  margin: 0px;
  font-size: 62px;
  line-height: 65px;
  font-weight: 600;
  max-width: 650px;
}

.heroP {
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
  max-width: 500px;
  margin-top: 15px;
}

.heroH3{
  font-size: var(--font-size-5xl);
  line-height: 45px;
  margin: 0;
}

.dieContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.die{
    padding: 8px 15px;
    display: flex;
    gap: 10px;
    font-size: var(--font-size-l);
    font-weight: 600;
    border-radius: var(--border-radius-xs);
    background-color: #fff;
    height: 40px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.die:hover{
    background-color: var(--color-gray-background);
}

.dieIcon{
    display: inline-block;
}

.h2{
    max-width: 370px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    margin: 0;
    margin-bottom: 42px;
}

.whyBoxContainer{
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
}

.whyBox:nth-child(odd) {
  background-color: var(--color-white);
  color: var(--color-gray-text-med);
}

.whyBox:nth-child(even) {
  background-color: var(--color-blue-accent);
  color: #fff;
}

.whyBox:nth-child(odd) .whyBoxHeader {
  color: var(--color-black); /* или любой темный цвет */
}

.whyBox{
    width: 425px;
    height: 272px;
    border-radius: var(--border-radius-s);
    padding: 35px;
    line-height: 25px;
}

.whyBoxHeader{
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin-bottom: 22px;
    max-width: 340px;
}

.whyBoxText{
    font-size: var(--font-size-m);
    font-weight: 300;
}

.heroForm{
    background-color: #fff;
    border-radius: var(--border-radius-m);
    width: 100%;
    padding: 98px 118px;
}

.formContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 424px;
}

.whereSectionTitleContainer{
  font-size: var(--font-size-7xl);
  line-height: 230px;
  margin-bottom: 43px;
}

.whereSectionTitleTop{
  justify-self: start;
  color: var(--color-blue-accent);
  margin: 0;
  font-weight: 400;
}

.whereSectionTitleBottom{
  justify-self: end;
  align-self: end;
  margin: 0;
  font-weight: 400;
}

.whereSectionImg{
  background-image: url('@assets/city.png');
  background-size: cover;
  height: 657px;
  width: auto;
  border-radius: var(--border-radius-m);
  background-position: center;
  background-repeat: no-repeat;
}


