/* Button.module.css */
.button {
  border-radius: var(--border-radius-s);
  color: var(--color-white);
  background-color: var(--color-blue-accent);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: fit-content;
}

.button:hover {
  background-color: var(--color-blue-hover);
}

/* Размеры */
.small {
  height: 46px;
  padding: 11px 37px;
  font-size: var(--font-size-m);
}

.medium {
  height: 55px;
  padding: 11px 37px;
  font-size: var(--font-size-l);
}

.large {
  height: 66px;
  padding: 19px 27px;
  font-size: var(--font-size-l);
}

/* Позиционирование */
.absolute {
  position: absolute;
  right: 0px;
  bottom: 0px;
}