.homeInput{
    height: 86px;
    border-radius: var(--border-radius-m);
    border: none;
    background-color: var(--color-gray-elements);
    width: 450px;
    padding: 37px 22px 22px 22px;
    position: relative;
    color: var(--color-black);
    font-size: var(--font-size-m);
    font-weight: 500;
    outline: none;
}

.homeInput::placeholder {
    opacity: 1;
    color: var(--color-black);
}

.homeInputContainer{
    position: relative;
}

.label{
    color: var(--color-gray-caption-med);
    font-size: var(--font-size-s);
    font-weight: 400;
    position: absolute;
    left: 22px;
    top: 15px;
    z-index: 2;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  transition: opacity 0.2s ease; /* плавное исчезновение */
}

.suggestions.hidden {
  display: none;
  /* или opacity: 0; pointer-events: none; для плавности */
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f5f5f5;
}
.homeInputContainer {
  position: relative; /* ← важно для absolute позиционирования подсказок */
}